################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DogShow
/src/Contacts/.vs
/.vs/Programming_4
